.hero {
    background: url(../Img/Cafe\ verde3.jpg) no-repeat;
    background-size: cover;
    height: 50vh;
    min-height: 600px;
    color: white;
}

h1,
h2,
h5 {
    font-family: 'Oswald', sans-serif;
}

#descrip {
    font-family: 'Oswald';
    font-size: 21px;
}

#Productos {
    background: url(../Img/cafediseño.jpg) no-repeat;
    background-size: cover;
    height: 50vh;
    min-height: 500px;
    color: white;
    align-items: center;
    margin-top: 80px;
    padding-bottom: 200px;
}

#fotos {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

#carusel {
    background-color: #efefef;
    margin-right: 50px;
    margin-top: 25px;
    margin-left: 50px;
    padding-right: 40px;
}

.testimonios {
    background-color: #dadada;
}

.testimonio {
    text-align: center;
    padding: 30px 15px;
}
#video{
    margin-top: 8px;
    margin-right: 10px;
}
.card-body {
    text-align: center;
}

#pepe {
    margin-top: 50px;
    margin-left: 31px;
    transition: .3 ease;
    size: 20px;
    height: 300px;
    width: 370px;
}

.btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

#pepe:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
}


#exampleModal {
    color: black;
}

#fotoCara {
    margin-top: 30px;
    margin-left: 50px;
}

#cara {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#historia {
    text-align: start;
    margin-top: 50px;
}

#nosotros {
    background-color: #efefef;
    padding-bottom: 50px;
    padding-top: 25px;
}

#final {
    margin-top: 50px;
}