.hero {
    background: url(../Img/Cafe\ verde3.jpg) no-repeat;
    background-size: cover;
    height: 50vh;
    min-height: 600px;
    color: white;
}

h1,
h2,
h5 {
    font-family: 'Oswald', sans-serif;
}

#descrip {
    font-family: 'Oswald';
    font-size: 21px;
}

#Productos {
    background: url(../Img/cafediseño.jpg) no-repeat;
    background-size: cover;
    color: white;
    align-items: center;
}

.btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

#pepe:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
}

.fotos {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    size: 50px;
}
#exampleModal{
    color: black;
}
#fotoCara{
    margin-top: 30px;
    margin-left: 50px;
}
#cara{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
#historia{
    text-align:start;
    margin-top: 50px;
}
#nosotros{
    background-color: #efefef;
    padding-bottom: 50px;
    padding-top: 25px;
}
#final{
    margin-top: 50px;
}